<style type="text/css">

    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    .timepicker{
        border-width:1px;
        border-style: solid;

        display:inline-block;
        padding:7px;

    }

    .episode{
        width:800px;
        padding-left:35px;
        border-style:dotted;
        border-width:1px 0px 0px 1px;
    }

/*
    .episode_wrap input,textarea{
        border-style:solid;
        border-color:white;
        width:70%;
    }*/


    .title-label{
        /*position:relative;*/
        /*bottom:-18px;*/
        display:inline-block;
    }

    .previews{
        display:inline-block;
    }
</style>


<div class="episode_wrap form_wrap">
    <h4>
        <input ng-model="episode.title" class="title" placeholder="title"/>
    </h4>
    <input ng-model="episode.subtitle" class="subtitle" placeholder="subtitle"/>
    <br/><br/>
    <textarea ng-model="episode.summary" class='summary' placeholder="description"></textarea>
    <br/>
    active: <input type="checkbox"
                       ng-model="episode.active"
                       ng-true-value="1"
                       ng-false-value="0" editable=true/>

    <select ng-model="playsheet.start.hour" ng-options=""></select>
	<span ng-controller='datepicker' class='date_pick'>
        <input class="podcast_date" type="text" datepicker-popup="{{format}}"
               ng-model="playsheet.start"  is-open="opened"
               ng-required="true" close-text="Close" ng-hide="true" ng-change="date_change()" />
        <br/>
        <h4 ><i>broadcast on </i><b>{{playsheet.start | date:'medium'}}</b><i> until </i><b>{{playsheet.end | date:'mediumTime'}}</b>
            <button type="button" ng-click="open($event)">
            change date
            </button>
            <button ng-click="printArchUrl()">doohickey</button>
        </h4></span>

    </span>

	<span ng-controller='timepicker'  class='timepicker'>
        <h4>edit start time</h4>
        <timepicker ng-model="playsheet.start" ng-change="start_changed(playsheet.start)"></timepicker>
	</span>

	<span ng-controller='timepicker' class='timepicker'>
        <h4>edit end:</h4>
        <timepicker ng-model="playsheet.end" ng-change="length_changed(playsheet.end)" show-meridian="false" ></timepicker>
	</span>
	<span class="previews">
        <button class='play_start' ng-click="preview_start()" ng-hide="!editing">play beginning</button>
        <button class='play_end' ng-click="preview_end()" ng-hide="!editing">play end</button>
        <span ng-class="{playing: playing}"><image src='images/speaker.png'></span>
        <br/>status: {{sound_status}}
	</span>
    </div>

        <pre>
            episode.date: {{episode.date}}
            episode.date_unix: {{episode.date_unix}}
            episode.start_obj: {{episode.start_obj}}
            episode.time: {{episode.time}}
            episode.duration: {{episode.duration}}
            episode.duration_obj: {{episode.duration_obj}}
            episode.end: {{episode.end}}
            episode.end_obj: {{episode.end_obj}}

        </pre>


    <br/>
    <hr/>
</div>